/* CloudWorld3D.module.css */

.viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    perspective: 600px;
    background: linear-gradient(180deg, #0066cc 0%, #99ccff 50%, #ffffff 100%);
    background-color: var(--background-color,);
    background-blend-mode: luminosity;
  }
  
  .world {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 512px;
    height: 512px;
    margin-left: -256px;
    margin-top: -256px;
    transform-style: preserve-3d;
  }
  
  .cloudBase {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 256px;
    top: 256px;
    margin-left: -10px;
    margin-top: -10px;
  }
  
  .cloudLayer {
    position: absolute;
    width: 256px;
    height: 256px;
    top: 50%;
    left: 50%;
    margin-left: -128px;
    margin-top: -128px;
   
    opacity: 0.8;
    border-radius: 50%;
    will-change: transform, opacity;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: transform 0.3s ease-out;
  }
